@font-face {
    font-family: ColfaxAI;
    font-style: normal;
    font-weight: 400;
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2) format("woff2"), url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
}

@font-face {
    font-family: ColfaxAI;
    font-style: italic;
    font-weight: 400;
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegularItalic.woff2) format("woff2"), url(https://cdn.openai.com/API/fonts/ColfaxAIRegularItalic.woff) format("woff");
}

@font-face {
    font-family: ColfaxAI;
    font-style: normal;
    font-weight: 700;
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"), url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
}

@font-face {
    font-family: ColfaxAI;
    font-style: italic;
    font-weight: 700;
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIBoldItalic.woff2) format("woff2"), url(https://cdn.openai.com/API/fonts/ColfaxAIBoldItalic.woff) format("woff");
}


@keyframes background-rotate {
    0% {
        background-size: 50% 50%;
    }
    100% {
        background-size: 400% 400%;
    }
}

* {
    box-sizing: border-box;
    font-family: ColfaxAI, -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


body {
    margin: 0;
    background-color: #f9fafb;
}

html.scroll-lock {
    position: fixed;
    overflow-y: scroll;
    top: var(--window-scroll-top);
    width: 100%;
}

.bg-enter-active,
.bg-leave-active {
    transition: background-color 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.bg-enter-from,
.bg-leave-to {
    background-color: transparent !important;
    filter: blur(0px) !important;
}

.scale-enter-active {
    transition: transform 0.35s cubic-bezier(0.16, 1, 0.3, 1),
        opacity 0.18s cubic-bezier(0.5, 1, 0.89, 1);
}

.scale-leave-active {
    transition: transform 0.35s cubic-bezier(0.16, 1, 0.3, 1),
        opacity 0.25s cubic-bezier(0, 0.55, 0.45, 1);
}

.scale-enter-from,
.scale-leave-to {
    opacity: 0;
    transform: scale(0.45) !important;
}
